.body{
    /* Layout Properties */
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    }

@font-face {
    font-family: 'Minimo';
    src: url('fonts/Ahmet-Altun-Minimo-Regular_0.otf') format('opentype');
    }

.invader{
    width: 4.557291666666667vw;
    min-width: 2.6041666666666665vw;
    height:7.530120481927711vh ;
    min-height: 4.518072289156627vh;
    margin: 0px;
    padding: 0px;
    background-image: url('img/invader/invader.svg');
    background-size: contain;
    background-size: 100% 100%;
    position: absolute;
    opacity: 1;
    z-index: 1;
}

.header_box{
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    background-image: url('img/header/Rectangle\ 1@2x.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.header_text{
    margin: 0;
    font: normal 120px/100px Minimo;
    color: black;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.header_invader{
    padding-bottom: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 80%;
}

.presentation_box{
    width: 100vw;
    height: fit-content;
    background-color: transparent;
    position: relative;
    margin: 0;
    padding: 1%; /* Ajoutez un espace pour voir la div */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}

.presentation_text{
    margin: 0;
    font: normal normal normal 40px/42px Minimo;
    width: 80%;
    margin: 0 auto; /* Centrer horizontalement */
    text-align: center;
}

.code_box {
	display: flex;
	justify-content: center;
	background-color: transparent;
    width: 100vw;
}
  
  .code_img_container {
	position: relative;
    width: 82.48697916666667vw;
	display: flex;
	justify-content: center;
	background-color: transparent;
}
  
.code_img {
	width: 100%;
	height: auto;
}

.code_text{
    width: 80%;
	position: absolute;
	top: 28%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	font: normal normal normal 5vw/5vw Minimo;
}

.code{
    /* width: 80%; */
	position: absolute;
	top: 40%;
    justify-content: center;
	left: 55%;
	transform: translate(-50%, -50%);
	color: #80F4A5;
	/* font: normal normal normal 3vw/3vw Minimo; */
    background-color: black;

}

.code_button{
    margin: 0;
	display: inline-block;
	font: normal normal normal 5vw/5vw Minimo;
	color: #80F4A5;
	background-color: transparent;
	border: none;
}

.project_box_container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.project_box{
    margin-top: 16px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 82.48697916666667vw;
    height: auto; 
}

.project_1{

    width: 26.79269882659713vw;
    height: 22vw;
    min-width: 316px;
    min-height: 277px;
    max-height: 100%;
    background-image: url('img/project/Rectangle\ 20.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-items: center;
    position: relative;
}

.project_2{

    width: 26.79269882659713vw;
    height: 22vw;
    min-width: 316px;
    min-height: 277px;
    max-height: 100%;
    background-image: url('img/project/Rectangle\ 24.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-items: center;
    position: relative;
}

.project_3{

    width: 26.79269882659713vw;
    height: 22vw;
    min-width: 316px;
    min-height: 277px;
    max-height: 100%;
    background-image: url('img/project/Rectangle\ 22.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-items: center;
    position: relative;
}


.project_button{
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.project_text{
    width: 100%;
    font: normal 26px/24px Minimo;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.project_img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
}

.work_box{
    margin-top: 177px;
    width: 100vw;
    height: 50vh;
    background-color: black;
    text-align: center;
}

.work_text{
    color: #FFFFFF;
    font: normal normal medium 77px/70px Pangram;
}

@media (max-width: 768px) {
    .header_text {
      font-size: 5vh;
      line-height: 5vh;
    }

    .presentation_text {
        font: normal normal normal 22px/23px Minimo;
        width: 80%;
    }

    .project_text{
        font: normal 15px/20px Minimo;
    }
  }


@media (max-width: 1024px) {

    .presentation_text {
        font: normal normal normal 31px/32px Minimo;
        width: 80%;
    }
}

@media (max-width: 1300px) {

    .presentation_text {
        font: normal normal normal 35px/37px Minimo;
        width: 80%;
    }
}


@media (max-width: 1155px) {
    .code_img {
        height: 50vh;

    }

    .code_text{
        overflow: hidden;
    }

   .project_box{
    flex-direction: column;
   }


   .project_1{
        width: 44vw;
        height: 38vw;
   }

    .project_2{
        margin-top: 10px;
        width: 44vw;
        height: 38vw;
   }

    .project_3{
        margin-top: 10px;
        width: 44vw;
        height: 38vw;
   }

   .project_text{
        font: normal normal normal 22px/26px Minimo;
   }
}