.body{
    /* Layout Properties */
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    }

@font-face {
    font-family: 'Minimo';
    src: url('fonts/Ahmet-Altun-Minimo-Regular_0.otf') format('opentype');
    }

.header_box{
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    background-image: url('img/Rectangle\ 1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.header_text{
    margin: 0;
    font: normal 120px/100px Minimo;
    color: black;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.header_invader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.presentation_box{
    width: 100vw;
    height: fit-content;
    background-color: transparent;
    position: relative;
    margin: 0;
    padding: 1%; /* Ajoutez un espace pour voir la div */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}

.presentation_text{
    margin: 0;
    font: normal 2vw/2vw Minimo;
    width: 60%;
    margin: 0 auto; /* Centrer horizontalement */
    text-align: center;
}

.code_box {
	display: flex;
	justify-content: center;
	background-color: transparent;
}
  
  .code_img_container {
	position: relative;
	width: 80%;
	display: flex;
	justify-content: center;
	background-color: transparent;
}
  
.code_img {
	width: 100%;
	height: auto;
}

.code_text{
    width: 80%;
	position: absolute;
	top: 28%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	font: normal normal normal 5vw/5vw Minimo;
}

.code{
    width: 80%;
	position: absolute;
	top: 40%;
    justify-content: center;
	left: 55%;
	transform: translate(-50%, -50%);
	color: #80F4A5;
	font: normal normal normal 3vw/3vw Minimo;
    background-color: black;
    overflow: hidden;

}

.code_button{
    margin: 0;
	display: inline-block;
	font: normal normal normal 5vw/5vw Minimo;
	color: #80F4A5;
	background-color: transparent;
	border: none;
}

.project_box{
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.project_1{
    margin-top: 16px;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    width: 300px;
    height: 300px;
    max-height: 100%;
    background-image: url('img/Rectangle\ 20.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-items: center;
    position: relative;
}

.project_2{
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    width: 300px;
    height: 300px;
    max-height: 100%;
    background-image: url('img/Rectangle\ 24.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-items: center;
    position: relative;
}

.project_3{
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    width: 300px;
    height: 300px;
    max-height: 100%;
    background-image: url('img/Rectangle\ 22.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-items: center;
    position: relative;
}

.project_button{
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.project_text{
    width: 100%;
    font: normal 26px/30px Minimo;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.project_img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.work_box{
    margin-top: 177px;
    width: 100vw;
    height: 50vh;
    background-color: black;
    text-align: center;
}

.work_text{
    color: #FFFFFF;
    font: normal normal medium 77px/70px Pangram;
}

@media (max-width: 768px) {
    .header_text {
      font-size: 80px;
      line-height: 80px;
    }

    .presentation_text {
        font: normal 30px/32px Minimo;
        width: 80%;
    }

    .project_text{
        font: normal 15px/20px Minimo;
    }
  }