.body{
    margin:0px;
    padding:0px;
    background-position: center;
    background-size: cover ;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.weak_invader{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}

.middle_invader{}

.strong_invader{}