.body{
/* Layout Properties */
top: 0px;
left: 0px;
width: 1920px;
height: 3420px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.weak_invader{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}

.middle_invader{}

.strong_invader{}